html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  background-image: url(../images/306.jpg);
  background-size: cover;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70px;
  z-index: 3;
  background-color: rgb(255, 166, 0);
  border-bottom: 2px solid black;
}

header h1 {
  font-family: "Permanent Marker";
  font-size: 50px;
  font-weight: bold;
}

header span {
  color: rgba(90, 138, 0, 0.74);
}

.login {
  position: absolute;
  margin-right: 40px;
  right: 0;
}

.login button {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgba(255, 205, 149);
  font-size: 1.25rem;
  font-weight: 500;
}

.login h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  width: 100%;
  height: 350px;
}

.main-banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-banner h2 {
  font-family: "Permanent Marker";
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: rgb(255, 166, 0);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.search-container {
  margin: 50px;
}

.search-bar{
  height: 40px;
  width: 400px;
  border-radius: 10px;
  background-color: rgba(255, 205, 149, 0.712);
  border: 2px solid black;
  font-size: 1.5rem;
  font-weight: bold;
}

.search-param {
  height: 45px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(255, 193, 122);
  border: 2px solid black;
  font-size: 1.2rem;
  text-align: center;
}

.songs-grid {
  display: grid;
  grid:  auto / 1.3fr 1fr;
  grid-gap: 30px;
  height: 500px;
  margin:  0 30px 30px 30px;
}

.search-results {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #000;
  border-radius: 30px;
  min-height: 800px;
  color: white;
  overflow: auto;
}

.search-results::-webkit-scrollbar {
  width: 1px;
}

.playlist {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #000;
  border-radius: 30px;
  min-height: 800px;
  color: white;
  padding-top: 30px;
  overflow: auto;
}

.playlist::-webkit-scrollbar {
  width: 1px;
}

.playlist ul {
  padding: 0 20px 0 20px;
  width: 100%;
}

.search-results ul {
  width: 80%
}

.title {
  display: flex;
  justify-content: center;
}

.playlist-title {
  text-align: center;
  height: 35px;
  width: 90%;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  color: #000000;
  background-color: rgb(255, 255, 255);
}

.tracks {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid white;
}

.song-info {
  padding: 0 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.song-info p {
  width: 100%;
  text-align: center;
  line-height: 1.5;
}

.song-info .track {
  font-size: 1.4rem;
}

.tracks button {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  font-size: 1.25rem;
  border: none;
  border-radius: 20px;
}

.save {
  display: flex;
  justify-content: center;
}

.save button {
  position: absolute;
  text-align: center;
  height: 45px;
  width: 20%;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  top: 1220px;
}

.footer {
  height: 10px;
}