html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70px;
  z-index: 3;
  background-color: rgb(253, 165, 0);
  border-bottom: 2px solid black;
}

header h1 {
  font-family: "Modak";
  font-size: 3rem;
}

header span {
  color: rgb(62, 95, 0);
  font-family: "Modak";
}

.login {
  position: absolute;
  margin-right: 40px;
  right: 0;
}

.login button {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: aliceblue;
  font-size: 1.25rem;
  font-weight: 500;
}

.login h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  width: 100%;
  height: 350px;
}

.main-banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-banner h2 {
  font-family: "Modak";
  font-size: 3rem;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.search-container {
  margin: 50px;
}

.search-bar{
  height: 40px;
  width: 400px;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.753);
  border: 2px solid black;
  font-size: 1.5rem;
  font-weight: bold;
}

.search-param {
  height: 45px;
  margin: 10px;
  border-radius: 10px;
  background-color: aliceblue;
  border: 2px solid black;
  font-size: 1.2rem;
  text-align: center;
}

.songs-grid {
  display: grid;
  grid:  auto / 1.3fr 1fr;
  grid-gap: 30px;
  height: 500px;
  margin:  0 30px 30px 30px;
}

.search-results {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #000;
  border-radius: 30px;
  min-height: 800px;
  color: aliceblue;
  overflow: auto;
}

.arrow {
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-bottom: 3px;
  margin-right: 3px;
}

.search-results::-webkit-scrollbar {
  width: 1px;
}

.playlist {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #000;
  border-radius: 30px;
  min-height: 800px;
  color: aliceblue;
  padding-top: 30px;
  overflow: auto;
}

.playlist::-webkit-scrollbar {
  width: 1px;
}

.playlist ul {
  padding: 0 20px 0 20px;
  width: 100%;
}

.search-results ul {
  width: 80%
}

.title {
  display: flex;
  justify-content: center;
}

.playlist-title {
  text-align: center;
  height: 35px;
  width: 90%;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  color: #000000;
  background-color: aliceblue;
}

.album-cover {
  height: 70px;
  width: 70px;
}

.tracks {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid aliceblue;
}

.song-info {
  padding: 0 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.song-info p {
  width: 100%;
  text-align: center;
  line-height: 1.5;
}

.song-info .track {
  font-size: 1.4rem;
}

.tracks button {
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  font-size: 1.25rem;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.minus {
  font-size: 1.5rem;
  margin-right: 1px;
}

.save {
  display: flex;
  justify-content: center;
}

.save button {
  position: absolute;
  text-align: center;
  height: 45px;
  width: 20%;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  background-color: aliceblue;
  margin: 20px;
  top: 1220px;
}

.footer {
  height: 10px;
}

@media only screen and (max-width: 900px) {
  header {
    justify-content: start;
  }

  header h1 {
    font-size: 2rem;
    padding-left: 5%;
  }

  .login {
    margin-right: 30px;
  }

  .search {
    margin-bottom: 0;
  }

  .search-bar {
    width: 100%;
  }

  .search-param {
    margin: 1% 0 0 35%;
    width: 30%;
  }

  .songs-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .search-results {
    width: 100%;
    height: 500px;
  }

  .playlist {
    width: 100%;
    height: 500px;
  }

  .save button {
    top: 2050px;
    width: 50%;
  }
}